{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
<h1>Clientes</h1>
<table class="table table-striped" style="margin-top: 30px; width: 400px;">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
      <tr>
        <th scope="row">{{cliente.id}}</th>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.email}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}